/* Custom scrollbar styles */
.image-scroll-container {
    width: 290px;
    height: 500px;
    overflow-y: auto;
    position: absolute;
    top: 120px;
    left: 230px;
    padding: 5px;
    border-radius: 50px;
    
    /* Webkit scrollbar styles */
    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #ff8833;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #a76f44;
    }
  
    /* Firefox scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #bc0394 #f1f1f1;
  }
  
  .image-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .image-item {
    width: 250px;
    height: 225px;
    object-fit: cover;
    border: 15px solid #E2E0E1;
    border-radius: 20px;
  }