.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000
  }
  
  .modal-content {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content h2 {
    color: #C54D8C;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #444;
    font-weight: bold;
  }
  
  .form-group input[type="text"] {
    width: 92%;
    padding: 10px;
    border: 2px solid #a02e67;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .form-group input[type="file"] {
    margin-top: 10px;
  }
  
  .image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    border: 3px solid #C54D8C;
    object-fit: cover; /* Add this line */
    object-position: center center;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .modal-buttons button[type="button"] {
    background-color: #E2E0E1;
    color: #444;
  }
  
  .modal-buttons button[type="submit"] {
    background-color: #C54D8C;
    color: white;
  }