.feed1 {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 6px; /* Más separación entre elementos */
    padding: 90px 350px; /* Mueve todo el feed hacia abajo (Y) y a la derecha (X) */
}

.post {
    background-color: #efeaed;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 400px;
    margin: auto;
    position: relative;
}

.post img {
    width: 100%;
    height: 85;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .feed1{
        padding: 5px 0px;
        grid-template-columns: 1fr;
    }  

    .post {
        max-width: auto;
    }

    .post img {
        width: auto;
        height: auto;
        border-radius: 10px;
    }
}
