.letter-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 130vh;
  margin-bottom: 30px; 
}



.letter-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
  color: #bf755a;
  position: relative;
  top: 79px; 
  margin-bottom: 30px; 
}