.profile-info {
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 60px auto 50px;
}

@media (max-width: 768px) {
    .profile-info {
        padding: 15px;
        margin: 40px auto 30px;
    }
}

.username {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .username {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.dropdown-icon {
    color: #C54D8C;
    margin-left: 5px;
}

.followers {
    font-size: 25px;
    color: #444;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .followers {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.divider {
    width: 60%;
    border: 2px dashed #C54D8C;
    margin: 10px 0 50px;
}

@media (max-width: 768px) {
    .divider {
        width: 80%;
        margin: 10px 0 30px;
    }
}

.updates-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.updates {
    width: 100%;
}

.update {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.update-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .update {
        padding: 6px;
        margin-bottom: 10px;
    }

    .update-avatar {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
}